body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }
  header h1 {
    margin: 0;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  main {
    padding: 20px;
  }
  .search-section input[type="text"],
  .login-section input[type="text"],
  .login-section input[type="password"],
  .search-section button,
  .login-section button {
    padding: 5px;
    margin-right: 10px;
  }
  .search-section button,
  .login-section button {
    cursor: pointer;
  }
  .login-section h2 {
    margin-bottom: 10px;
  }
  .login-section
  {
    text-align: right;
  }
  button
  {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
  }
  .featured-books {
    display: flex;
    justify-content: space-between;
  }
  .book {
    margin: 5px;
    width: 30%;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  .book img {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
  }
  footer {
    margin-top: 10%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
  }
  .book1{
    margin: 5px;
    width: 30%;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  .book1 img{
    height: auto;
    width: auto;
  }
  .book2{
    margin: 5px;
    width: 30%;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  .book2 img{
    height: auto;
    width: auto;
  }
  #about
  {
   
    font-family: 'Times New Roman', Times;
    text-align: center;
  }
  #contact
  {
    text-align: center;
  }
  #mylist
  {
    text-align: center;
  }